body, html {
    height: 120%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media screen and (max-width: 600px)
{
  .carousel-caption 
    {
    font-size: 10px;
    }
}

.navbar-brand
{
    font-size: 1.5em;
}
.navbar 
{
    font-size: 1.2em;
}


/* H3 font */
h3 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 100;
  font-family: serif;
  background-color: black;
}
 /* p1 font */
p {
  display: block;
  font-size: 1.2em;
  color: azure;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-family: Georgia, serif;
  background-color: black;
}
/* responsiveness of image */
.responsive {
  width: 100%;
  height: auto;
}

img {
    padding: 10px;  
}

.about-text {
    border:7px; 
    border-style:solid; 
    border-color:#AC801B; 
    padding: 1em;
}

.mayfield-text {
     border:7px; 
    border-style:solid; 
    border-color:#AC801B; 
    padding: 1em;
}

.chadwell-text {
     border:7px; 
    border-style:solid; 
    border-color:#AC801B; 
    padding: 1em;
}